// font style
$fz-s: 14px;
$fz-m: 16px;
$fz-l: 18px;
$fz-xl: 24px;
$fz-xxl: 34px;
$fw-b: 700;

// color style
$primary: rgba(0, 69, 124, 1);
$secondary: rgba(91, 155, 213, 1);
$info: rgba(214, 159, 143, 1);
$light: rgba(241, 237, 234, 1);
$lightGray: rgba(245, 244, 242, 1);

//border-radius
$radius-s: 4px;
$radius-m: 15px;
$radius-l: 20px;
$radius-xl: 25px;

//boxshadow
$shadow: 0 4px 4px 0 rgba(0,0,0,0.1);